{{#if userInSession}}
  <div class="recipe-info">
    <h1 style="font-size: 24px; margin-bottom: 10px;">Welcome,
      {{userInSession.username}}!</h1>
    <p style="font-size: 18px; margin-bottom: 20px;">
      Find the list of all the recipes you created
      <a
        href="/recipe/list"
        class="btn btn-outline-secondary btn-light btn-lg px-4 me-md-2"
        style="text-decoration: none; font-size: 18px;"
      >My Recipes</a>
    </p>
  </div>

  <h3>Your Favorite Recipes</h3>
  <ul class="favorites-ul">
    {{#each favorites}}
      <li class="favorites-li">
        <div class="image-title">
          <strong>{{strMeal}}</strong>
          <img src="{{strMealThumb}}" alt="{{strMeal}}" width="200" />
        </div>
        <div class="text-instruction">
          <div><b><p>Ingredients</p></b>{{strIngredient1}},
            {{strIngredient2}},
            {{strIngredient3}},
            {{strIngredient4}},
            {{strIngredient5}},
            {{strIngredient6}},
            {{strIngredient7}},
            {{strIngredient8}},
            {{strIngredient9}},
            {{strIngredient11}},
            {{strIngredient12}},
            {{strIngredient13}},
            {{strIngredient14}},
            {{strIngredient15}},
            {{strIngredient16}},
            {{strIngredient17}},
            {{strIngredient18}},
            {{strIngredient19}},
            {{strIngredient20}},
          </div>

          <div><b><p>Instructions</p></b>{{strInstructions}}</div>

        </div>
      </li>
    {{/each}}
  </ul>

{{else}}

  <br /><p>Still no logged-in user, sorry!</p>

{{/if}}